---
title: Mathieu Abeille's personal page
---
<div class="page">
  <div class="container">
    <div class="row">
      <!-- header -->
      <div class="col-sm-3 header text-right">
      <div class="background" style="background: linear-gradient(-225deg, rgba(100,101,168,0.6) 0%, rgba(0,36,61,0.6) 10%), url('<%= image_path("background.jpg") %>'); width: 1000px; height: 100vh; background-size:contain;">
        <div class="inner">
          <%= image_tag 'profil.jpg', class: "profile" %>
          <h1>Mathieu Abeille</h1>
          <h2>Full-stack developper</h2>
          <br/><br/>
          <%= link_to 'Skills',  '#', class: 'link'%>

          <br/>
          <%= link_to 'Projects',  '#', class: 'link'%>
          <br/>
          <%= link_to 'Contact',  '#', class: 'link'%>
          <br/>
          <%= link_to 'Advertising',  '#', class: 'link'%>
        </div>

        <!-- footer -->

        <div class=" footer text-right footer-links">
          <a href="#"><i class="fa fa-github"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

      <!-- content -->
      <div class="col-sm-9 content">
        <h2>Presentation</h2>
        <p>Having completed a Bachelor of Business Administration in Canada in Marketing, I want to take my career to the next level. During my Movinga internship, a Rocket Internet start-up, I was closely working with developers, product managers. I have realized the importance of strengthening my profile with technical skills. This is the reason why I decided to attend the coding a bootcamp The Wagon. I can bring to a project not only proven communication skills, but also an understanding of business administration and technological products.</p>
      <a href="#" class="btn-medium">Learn More</a>
      <div class="border"></div>


<section id="skills">
        <h2>Skills</h2>
        <div class="row">
        <%= image_tag "ruby.svg", alt: "ruby", class: "skills" %>
        <%= image_tag "rails.svg", alt: "rails", class: "skills" %>
        <%= image_tag "html.svg", alt: "html", class: "skills" %>
        <%= image_tag "css.svg", alt: "css", class: "skills" %>
        <%= image_tag "js.svg", alt: "js", class: "skills" %>
        <%= image_tag "postgres.svg", alt: "postgres", class: "skills" %>
        <!-- </div>
        <div class="row"> -->
        <%= image_tag "bootstrap.svg", alt: "bootstrap", class: "skills" %>
        <%= image_tag "heroku.svg", alt: "heroku", class: "skills" %>
        <%= image_tag "git.svg", alt: "git", class: "skills" %>
        <%= image_tag "jquery.svg", alt: "jquery", class: "skills" %>
        <%= image_tag "react.svg", alt: "react", class: "skills" %>
        </div>
      </section>


      <div class="container">
        <div class="row">

        <h2>Projects</h2>
          <div class="col-sm-6 card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
            <div class="card-description">
              <h2>Le Wagon Shanghai</h2>
              <p>Very cool city, the best</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>

           <div class="col-sm-6 card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
            <div class="card-description">
              <h2>Le Wagon Shanghai</h2>
              <p>Very cool city, the best</p>
            </div>
          </div>
        </div>
        <div class="border"></div>
        <h2>Contact us</h2>
        <form method="POST" action="http://formspree.io/mathieu.abeille@gmail.com">
          <input type="email" name="email" placeholder="Your email"><br/>
          <textarea name="message" placeholder="Your message"></textarea><br/>
          <button class="btn-medium">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>




