---
title: Mathieu Abeille's personal page
---

<div class="page">
  <div class="header" style="background: linear-gradient(-225deg, rgba(100,101,168,0.6) 0%, rgba(0,36,61,0.6) 10%), url('<%= image_path("background.jpg") %>');padding-top: 50px;">
    <div>
      <div class="header-main">
        <%= image_tag 'profil.jpg', class: "profile" %>
        <h1>Mathieu Abeille</h1>
        <p>Full-stack developer / Product Manager </p> <br/>
        <h5><%= link_to 'Skills',  '#skills', class: 'link'%></h5>

        <h5><%= link_to 'Projects',  '#projects', class: 'link'%></h5>

        <h5><%= link_to 'Contact',  '#contact', class: 'link'%></h5>
      </div>
      <div class="footer-links">
        <a href="https://github.com/mathieuabeille/"><i class="fa fa-github"></i></a>
        <a href="https://twitter.com/abeillemathieu"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/mathieuabeille/"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>

      <!-- content -->
  <div class="content">
    <div class="section">
      <p> <a href='/francais.html'><%= image_tag 'france.png', align:"right", class:"flag" %></a>
<div class="container1">
      <p>Having completed a Bachelor of Business Administration in Canada in Marketing, I worked for a few years as a creative (french copywriter) for several advertising agencies. I have realized the importance of strengthening my profile with technical skills. This is the reason why I decided to attend the coding bootcamp "The Wagon".</p><br/>

      <a href="https://www.docdroid.net/ax8XMYA/cv-2017-france.pdf" target="_blank" class="btn-medium">Curriculum Vitae</a>
    </div>
    </div>
<div class="border"></div>
    <section id="skills">

      <div class="section">
        <h2>Skills</h2>
        <%= image_tag "ruby.svg", alt: "ruby", class: "skills" %>
        <%= image_tag "rails.svg", alt: "rails", class: "skills" %>
        <%= image_tag "html.svg", alt: "html", class: "skills" %>
        <%= image_tag "css.svg", alt: "css", class: "skills" %>
        <%= image_tag "js.svg", alt: "js", class: "skills" %>
        <%= image_tag "postgres.svg", alt: "postgres", class: "skills" %>
        <%= image_tag "bootstrap.svg", alt: "bootstrap", class: "skills" %>
        <%= image_tag "heroku.svg", alt: "heroku", class: "skills" %>
        <%= image_tag "git.svg", alt: "git", class: "skills" %>
        <%= image_tag "jquery.svg", alt: "jquery", class: "skills" %>
        <%= image_tag "react.svg", alt: "react", class: "skills" %>
        </div>
      </section>

<div class="border"></div>
<section id="projects">
  <div class="section">
    <h2>Projects</h2>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'melomelo.png' %>');">
        <div class="card-category">August 19th</div>
          <div class="card-description">
            <h2>Melomelo</h2>
            <p>An online fashion shopping helper.</p>
          </div>
        <a class="card-link" href="https://Melomelo.herokuapp.com" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'bookastage.png' %>');">
        <div class="card-category">August 12th</div>
          <div class="card-description">
            <h2>Bookastage</h2>
            <p>A marketplace that helps artists and managers.</p>
          </div>
        <a class="card-link" href="https://bookastage.herokuapp.com" ></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'cocktail.png' %>');">
        <div class="card-category">August 1st</div>
          <div class="card-description">
            <h2>Mr Cocktail</h2>
            <p>A cocktail book - Wagon project</p>
          </div>
        <a class="card-link" href="https://abeille-mr-cocktail.herokuapp.com" ></a>
      </div>

    </div>
  </div>
</div>




<!--       <div class="card" >
        <div class="card-image-book">
          <div class="card-category">
            11th of august 2017
          </div>
          <img class="card-user" src="<%= image_path "book-logo.png" %>">
        </div>
      <div class="description">
          <h2>Book a stage</h2>
          <p>A marketplace that helps artists to organize shows. http://bookastage.herokuapp.com</p>
      </div>
  </div> -->
</section>

<div class="border"></div>
<section id="contact">
  <div class="section">
    <h2>Contact me</h2>
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                  <form method="POST" action="http://formspree.io/mathieu.abeille@gmail.com">
                    <input class="form-control" type="email" name="email" placeholder="Your email"><br/>
                    <textarea class="form-control" style="height: 100px;" name="message" placeholder="Your message"></textarea>
                    <button class="btn-medium">Send</button>
                  </form>
              </div>
               <div class="col-sm-3 text-center">
                <p> <i class="fa fa-envelope" aria-hidden="true"></i><br/> mathieu.abeille@gmail.com</p>
                <p> <i class="fa fa-phone" aria-hidden="true"></i></p>
                <p> Canada : +1 514 691 5161</p>
                <p>  France: +33 06 30 89 08 88</p>
              </div>
          </div>
      </div>
    </div>
  </section>
</div>





